@model ApplicationCore.Helper.PaginatedList<ApplicationCore.Entities.Topic>
@{
    ViewData["Title"] = "Tra cứu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><i class="fab fa-react"></i> Lọc theo danh mục</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item active">
                        Đơn vị
                    </li>
                    @foreach (var item in ViewBag.Departments)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="/admin/departments/details/@item.DepartmentId">@item.Name</a>
                            <span class="badge badge-danger badge-pill">@item.Topics.Count</span>
                        </li>
                    }
                    <li class="list-group-item">
                        <a href="/admin/departments">Xem thêm...</a>
                    </li>
                </ul>
                <ul class="list-group mt-2">
                    <li class="list-group-item active">Loại văn bản</li>
                    @foreach (var value in ApplicationCore.Helper.EnumHelper<ApplicationCore.Entities.TopicType>.GetValues(ApplicationCore.Entities.TopicType.Posts))
                    {
                        var description = ApplicationCore.Helper.EnumHelper<ApplicationCore.Entities.TopicType>.GetDisplayValue(value);
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="/admin/searches/topictypes?topicType=@value">@Html.DisplayFor(e => description)</a>
                            <span class="badge badge-danger badge-pill">@Model.Count(x => x.TopicType == value)</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><i class="fab fa-react"></i> Tìm kiếm</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form action="/admin/searches/index" method="get">
                    <div class="row">
                        <div class="col-md-8">
                            <label>Nhập từ khóa</label>
                            <input type="text" class="form-control mb-3" name="searchTerm" value="@ViewBag.SearchTerm" />
                        </div>
                        <div class="col-md-4">
                            <label>Đơn vị</label>
                            <select class="form-control mb-3" asp-items="ViewBag.DepartmentsSelect" name="Department">
                                <option value="">-- Tùy chọn --</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Loại văn bản</label>
                            <select name="TopicType" class="form-control mb-3">
                                <option value="">-- Tùy chọn --</option>
                                @foreach (var value in ApplicationCore.Helper.EnumHelper<ApplicationCore.Entities.TopicType>.GetValues(ApplicationCore.Entities.TopicType.Posts))
                                {
                                    var description = ApplicationCore.Helper.EnumHelper<ApplicationCore.Entities.TopicType>.GetDisplayValue(value);
                                    <option value="@value">@Html.DisplayFor(e => description)</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Lĩnh vực</label>
                            <select class="form-control mb-3" asp-items="ViewBag.CategoriesSelect" name="Category">
                                <option value="">-- Tùy chọn --</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Số hiệu</label>
                            <input type="text" class="form-control mb-3" name="Number" value="@ViewBag.Number" />
                        </div>
                        <div class="col-md-1">
                            <label>Năm</label>
                            <select class="form-control mb-3" asp-items="ViewBag.Years" name="Year">
                                <option value="">--</option>
                            </select>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-danger"><i class="fa fa-search"></i> Tìm kiếm</button>
                    <a href="/admin/searches" class="btn btn-secondary"><i class="fa fa-redo"></i> Hủy</a>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><i class="fab fa-react"></i> Kết quả tìm kiếm</h3>
                <div class="card-tools">
                    Tổng số: <b>@Model.TotalRecord</b>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered table-striped table-hover table-responsive mb-3">
                    <thead>
                        <tr>
                            <th>Số hiệu</th>
                            <th>Tiêu đề</th>
                            <th>Ngày phát hành</th>
                            <th>File</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Number</td>
                                <td>
                                    <a href="/admin/topics/details/@item.TopicId?returnUrl=/admin/searches"><b>@item.Name</b></a>
                                    <div class="text-muted">
                                        @if (item.Description?.Length > 200)
                                        {
                                            @item.Description.Substring(0, 200)
                                        }
                                        else
                                        {
                                            @item.Description
                                        }
                                    </div>
                                    <div class="text-muted">
                                        <i class="fa fa-tags"></i> Từ khóa:
                                        @if (!string.IsNullOrEmpty(item.Tags))
                                        {
                                            @foreach (var tag in item.Tags.Split(",", StringSplitOptions.RemoveEmptyEntries))
                                            {
                                                <a href="/admin/searches/tags?tagName=@tag&returnUrl=/admin/searches/tags&tagName">
                                                    <span class="badge badge-dark">@tag</span>
                                                </a>
                                            }
                                        }
                                    </div>
                                </td>
                                <td>@item.PublishDate?.ToString("dd/MM/yyyy")</td>
                                <td>
                                    @if (string.IsNullOrEmpty(item.Attachments))
                                    {
                                        <button class="btn btn-sm btn-danger disabled"><i class="fa fa-cloud-download-alt"></i></button>
                                    }
                                    else
                                    {
                                        <div class="btn-group">
                                            <button class="btn btn-danger btn-sm" type="button">
                                                <i class="fa fa-cloud-download-alt"></i>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-lg-right">
                                                @foreach (var file in item.Attachments.Split(","))
                                                {
                                                    <a href="~/files/@file" class="dropdown-item"><i class="fa fa-dot-circle"></i> @file</a>
                                                }
                                            </div>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }


                <a asp-action="Index"
                   asp-route-pageIndex="@(Model.PageIndex - 1)"
                   asp-route-searchTerm="@ViewBag.SearchTerm"
                   asp-route-department="@ViewBag.Department"
                   asp-route-category="@ViewBag.Category"
                   asp-route-topicType="@ViewBag.TopicType"
                   asp-route-number="@ViewBag.Number"
                   class="btn btn-secondary btn-sm @prevDisabled shadow">
                    <i class="fa fa-angle-double-left"></i> Trang trước
                </a>
                <a asp-action="Index"
                   asp-route-pageIndex="@(Model.PageIndex + 1)"
                   asp-route-searchTerm="@ViewBag.SearchTerm"
                   asp-route-department="@ViewBag.Department"
                   asp-route-category="@ViewBag.Category"
                   asp-route-topicType="@ViewBag.TopicType"
                   asp-route-number="@ViewBag.Number"
                   class="btn btn-secondary btn-sm float-right @nextDisabled shadow">
                    Trang sau <i class="fa fa-angle-double-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}
