@model ApplicationCore.Helper.PaginatedList<ApplicationCore.Entities.Topic>
@{
    ViewData["Title"] = "Tra cứu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/daterangepicker/daterangepicker.css" rel="stylesheet" />
<link href="~/lib/daterangepicker/bootstrap-daterangepicker.css" rel="stylesheet" />
<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/lib/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><i class="fab fa-react"></i> Lọc theo danh mục</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item active">
                        Đơn vị
                    </li>
                    @foreach (var item in ViewBag.Departments)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="/admin/departments/details/@item.DepartmentId?returnUrl=@Url.RouteUrl(Url.ActionContext.RouteData.Values)">@item.Name</a>
                            <span class="badge badge-danger badge-pill">@item.Count</span>
                        </li>
                    }
                    <li class="list-group-item">
                        <a href="/admin/departments">Xem thêm...</a>
                    </li>
                </ul>
                <ul class="list-group mt-2">
                    <li class="list-group-item active">Loại tài liệu</li>
                    @foreach (var item in ViewBag.TopicTypes)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="/admin/searches/topictypes?topicTypeId=@item.TopicTypeId">@item.Name</a>
                            <span class="badge badge-danger badge-pill">@item.Count</span>
                        </li>
                    }
                    <li class="list-group-item">
                        <a href="/admin/topictypes">Xem thêm...</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><i class="fab fa-react"></i> Tìm kiếm</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form action="/admin/searches/index" method="get">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Nhập từ khóa</label>
                            <input type="text" class="form-control mb-3" name="searchTerm" value="@ViewBag.SearchTerm" placeholder="Tiêu đề, mô tả, nội dung,..." autocomplete="off" />
                        </div>
                        <div class="col-md-4">
                            <label>Loại tài liệu</label>
                            <select name="topicTypeId" class="form-control mb-3" asp-items="ViewBag.TopicTypesSelect">
                                <option value="">-- Tùy chọn --</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Loại văn bản</label>
                            <select class="form-control mb-3" asp-items="ViewBag.CategoriesSelect" name="Category">
                                <option value="">-- Tùy chọn --</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Số hiệu</label>
                            <input type="text" class="form-control mb-3" name="Number" value="@ViewBag.Number" autocomplete="off" />
                        </div>
                        <div class="col-md-1">
                            <label>Năm</label>
                            <select class="form-control mb-3" asp-items="ViewBag.Years" name="Year">
                                <option value="">--</option>
                            </select>
                        </div>
                        <div class="col-md-8">
                            <label>Nhà khoa học</label>
                            <select class="form-control" name="Authorids" id="AuthorIds" asp-items="ViewBag.Authors" multiple="multiple"></select>
                        </div>
                        <div class="col-md-4">
                            <label>Đơn vị</label>
                            <select class="form-control mb-3" asp-items="ViewBag.DepartmentsSelect" name="Department">
                                <option value="">-- Tùy chọn --</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger"><i class="fa fa-search"></i> Tìm kiếm</button>
                    <a href="/admin/searches" class="btn btn-secondary"><i class="fa fa-redo"></i> Hủy</a>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><i class="fab fa-react"></i> Kết quả tìm kiếm</h3>
                <div class="card-tools">
                    Tổng số: <b>@Model.TotalRecord</b>
                </div>
            </div>
            <div class="card-body">
                <button id="reportrange" class="btn btn-light border rounded mb-3" type="button">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span> Lọc theo ngày</span> <i class="fa fa-caret-down"></i>
                </button>
                <button type="button" onclick="filterByDate();" class="btn btn-primary mb-3">
                    <i class="fa fa-filter"></i> Lọc
                </button>
                <table class="table table-bordered table-striped table-hover mb-3 w-100">
                    <thead>
                        <tr>
                            <th class="text-truncate">Số hiệu</th>
                            <th>Tiêu đề</th>
                            <th class="text-truncate">Ngày phát hành</th>
                            <th>File</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-truncate">@item.Number</td>
                                <td>
                                    <a href="/admin/topics/details/@item.TopicId?returnUrl=/admin/searches"><b>@item.Name</b></a>
                                    <div class="text-muted">
                                        @if (item.Description?.Length > 200)
                                        {
                                            @item.Description.Substring(0, 200)
                                        }
                                        else
                                        {
                                            @item.Description
                                        }
                                    </div>
                                    <div class="text-muted">
                                        <i class="fa fa-tags"></i> Từ khóa:
                                        @if (!string.IsNullOrEmpty(item.Tags))
                                        {
                                            @foreach (var tag in item.Tags.Split(",", StringSplitOptions.RemoveEmptyEntries))
                                            {
                                                <a href="/admin/searches/tags?tagName=@tag&returnUrl=/admin/searches/tags&tagName">
                                                    <span class="badge badge-dark text-truncate" style="max-width: 100px" data-toggle="tooltip" data-placement="top" title="@tag">@tag</span>
                                                </a>
                                            }
                                        }
                                    </div>
                                </td>
                                <td>@item.PublishDate?.ToString("dd/MM/yyyy")</td>
                                <td>
                                    @if (item.Attachments.Count > 0)
                                    {
                                        <div class="btn-group">
                                            <button class="btn btn-danger btn-sm" type="button">
                                                <i class="fa fa-cloud-download-alt"></i>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-lg-right">
                                                @foreach (var file in item.Attachments)
                                                {
                                                    <a href="~/files/@file.Path/@file.Name" class="dropdown-item" target="_blank"><i class="fa fa-eye text-muted"></i> @file.Name</a>
                                                }
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <button class="btn btn-sm btn-danger disabled"><i class="fa fa-cloud-download-alt"></i></button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }


                <a asp-action="Index"
                   asp-route-pageIndex="@(Model.PageIndex - 1)"
                   asp-route-searchTerm="@ViewBag.SearchTerm"
                   asp-route-department="@ViewBag.Department"
                   asp-route-category="@ViewBag.Category"
                   asp-route-topicType="@ViewBag.TopicType"
                   asp-route-number="@ViewBag.Number"
                   asp-route-year="@ViewBag.Year"
                   asp-route-fromDate="@ViewBag.FromDate"
                   asp-route-toDate="@ViewBag.ToDate"
                   class="btn btn-secondary btn-sm @prevDisabled shadow">
                    <i class="fa fa-angle-double-left"></i> Trang trước
                </a>
                <a asp-action="Index"
                   asp-route-pageIndex="@(Model.PageIndex + 1)"
                   asp-route-searchTerm="@ViewBag.SearchTerm"
                   asp-route-department="@ViewBag.Department"
                   asp-route-category="@ViewBag.Category"
                   asp-route-topicType="@ViewBag.TopicType"
                   asp-route-number="@ViewBag.Number"
                   asp-route-year="@ViewBag.Year"
                   asp-route-fromDate="@ViewBag.FromDate"
                   asp-route-toDate="@ViewBag.ToDate"
                   class="btn btn-secondary btn-sm float-right @nextDisabled shadow">
                    Trang sau <i class="fa fa-angle-double-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="fromDate" />
<input type="hidden" id="toDate" />

@section scripts {
    <script src="~/lib/daterangepicker/moment.min.js"></script>
    <script src="~/lib/daterangepicker/daterangepicker.js"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        $(function () {

            var start = moment().subtract(1, 'days');
            var end = moment();

            function cb(start, end) {
                $('#reportrange span').html(start.format('DD-MM-YYYY') + ' - ' + end.format('DD-MM-YYYY'));
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Hôm nay': [moment(), moment()],
                    'Hôm qua': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Tuần trước': [moment().subtract(6, 'days'), moment()],
                    '30 ngày qua': [moment().subtract(29, 'days'), moment()],
                    'Tháng này': [moment().startOf('month'), moment().endOf('month')],
                    'Tháng trước': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                customRangeLabel: 'Tùy chọn',
                locale: {
                    daysOfWeek: [
                        "T2",
                        "T3",
                        "T4",
                        "T5",
                        "T6",
                        "T7",
                        "CN"
                    ],
                    monthNames: [
                        "Tháng 1",
                        "Tháng 2",
                        "Tháng 3",
                        "Tháng 4",
                        "Tháng 5",
                        "Tháng 6",
                        "Tháng 7",
                        "Tháng 8",
                        "Tháng 9",
                        "Tháng 10",
                        "Tháng 11",
                        "Tháng 12"
                    ]
                },
                maxDate: moment()
            }, function (start, end, label) {
                    $('#fromDate').val(start.format('YYYY-MM-DD'));
                    $('#toDate').val(end.format('YYYY-MM-DD'));
                cb(start, end);
            }, cb);

        });

        //
        function filterByDate() {
            let fromDate = $('#fromDate').val();
            let toDate = $('#toDate').val();
            window.location.href = '/admin/searches?searchTerm=@ViewBag.SearchTerm&department=@ViewBag.Department&category=@ViewBag.Category&topicType=@ViewBag.TopicType&number=@ViewBag.Number&fromDate=' + fromDate + '&toDate=' + toDate;
        }

        //Initialize Select2 Elements
        $('#AuthorIds').select2({
            theme: 'bootstrap4'
        })
    </script>
}
