@model ApplicationCore.Entities.Topic

@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title"><b>@ViewData["Title"]</b></h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <div class="row">
            <div class="col-md-8">

                <div class="py-2 border-bottom">

                    <div class="clearfix">
                        <i class="text-muted">Số trang: @Model.Page</i>
                    </div>

                    @Html.Raw(Model.Content)
                    <div class="py-2">
                        <i class="fa fa-tags"></i> Từ khóa:
                        @if (!string.IsNullOrEmpty(Model.Tags))
                        {
                            @foreach (var item in Model.Tags.Split(",", StringSplitOptions.RemoveEmptyEntries))
                            {
                                <a href="/admin/searches/tags?tagName=@item&returnUrl=/admin/searches/tags&tagName">
                                    <span class="badge badge-dark text-truncate" style="max-width: 100px"  data-toggle="tooltip" data-placement="top" title="@item">@item</span>
                                </a>
                            }
                        }
                    </div>
                </div>

                <div class="clearfix py-3 border-bottom">
                    <div class="text-muted float-right">
                        <i class="fa fa-calendar"></i> Ngày cập nhập: @Model.ModifiedDate
                    </div>
                    <div class="text-muted">
                        <i class="fa fa-calendar"></i> Ngày tạo: @Model.CreatedDate
                    </div>
                </div>

                <h4 class="mt-4"><i class="fa fa-user"></i> Nhà khoa học</h4>

                @foreach (var item in ViewBag.Authors)
                {
                    <div class="clearfix p-2 border-bottom">
                        <div class="user-block">
                            <img class="img-circle img-bordered-sm" src="~/img/profile/@item.Author.Avatar" alt="User Image">
                            <span class="username">
                                <a href="/admin/authors/details/@item.AuthorId">@item.Author.Name</a>
                            </span>
                            <span class="description">@item.Author.DateOfBirth?.ToString("dd/MM/yyy")</span>
                        </div>
                    </div>
                }

            </div>
            <div class="col-md-4">
                <label>Mô tả</label>
                <div class="form-group">
                    @Model.Description
                </div>
                <label>Ngày ban hành</label>
                <div class="form-group">
                    @Model.PublishDate?.ToString("dd/MM/yyyy")
                </div>
                <label>Ngày hiệu lực</label>
                <div class="form-group">
                    @Model.EffectiveDate?.ToString("dd/MM/yyyy")
                </div>
                <label asp-for="Signer"></label>
                <div class="form-group">
                    <a href="/admin/searches/signer?signer=@Model.Signer">@Model.Signer</a>
                </div>
                <label>Số hiệu</label>
                <div class="form-group">
                    @Model.Number
                </div>
                <label asp-for="CategoryId"></label>
                <div class="form-group">
                    <a href="/admin/categories/details/@Model.CategoryId?returnUrl=/admin/topics/details/@Model.TopicId">@Model.Category?.Name</a>
                </div>
                <label asp-for="TopicTypeId"></label>
                <div class="form-group">
                    <a href="/admin/searches/topictypes?topictypeId=@Model.TopicType?.TopicTypeId">@Model.TopicType?.Name</a>
                </div>
                <label><i class="fa fa-file-archive"></i> Tệp tin đính kèm</label>
                @if (Model.Attachments.Count > 0)
                {
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Tên file</th>
                                <th>Thư mục</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Attachments)
                            {
                                <tr id="attachment-@item.AttachmentId">
                                    <td>
                                        <b class="font-weight-bold" id="file-name-@item.AttachmentId">@item.Name</b>
                                    </td>
                                    <td class="font-weight-bold">@item.Path</td>
                                    <td class="text-right py-0 align-middle">
                                        <div class="btn-group btn-group-sm">
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-pen"></i></button>
                                                <div class="dropdown-menu dropdown-menu-right p-3" aria-labelledby="dropdownMenuButton" style="min-width: 300px">
                                                    <label>Đổi tên tệp tin:</label>
                                                    <input type="text" placeholder="Nhập tên file" value="@item.Name" class="form-control mb-2" id="new-filename-@item.AttachmentId" />
                                                    <div class="text-info mb-2"><small><i class="fa fa-info-circle"></i> Lưu ý: Giữ nguyên đuôi và tuân thủ <a href="https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file" target="_blank">nguyên tắc đặt tên</a> file</small></div>
                                                    <div class="clearfix">
                                                        <button class="btn btn-primary float-right" type="button" onclick="confirmRename('@item.AttachmentId')">Xác nhận</button>
                                                        <button class="btn btn-secondary" type="button" onclick="cancelRename(this)">Hủy</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="~/files/@item.Path/@item.Name" target="_blank" class="btn btn-info"><i class="fas fa-eye"></i></a>
                                            <button type="button" class="btn btn-danger" onclick="deleteFile('@item.Name', '@item.Path', '@item.AttachmentId')"><i class="fas fa-trash"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="text-muted">Không có tệp tin</div>
                }
            </div>
        </div>

        <div class="clearfix mt-3">

            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-whatever="@Model.TopicId">
                <i class="fa fa-trash"></i> Xóa
            </button>

            <div class="float-lg-right">
                <a asp-action="Edit" asp-route-id="@Model.TopicId" asp-route-url="@Url.RouteUrl(Url.ActionContext.RouteData.Values)" class="btn btn-primary"><i class="fa fa-pen"></i> Chỉnh sửa</a>

                @if (string.IsNullOrEmpty(ViewBag.ReturnUrl))
                {
                    <a asp-action="Index" class="btn btn-secondary"><i class="fa fa-redo"></i> Quay lại</a>
                }
                else
                {
                    <a href="@ViewBag.ReturnUrl" class="btn btn-secondary"><i class="fa fa-redo"></i> Quay lại</a>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Delete" method="post">
                <div class="modal-body">
                    <input type="hidden" name="Id" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script>
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            var modal = $(this)
            modal.find('.modal-body input').val(recipient)
        })
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        //Initialize Select2 Elements
        $('#AuthorIds').select2({
            theme: 'bootstrap4'
        });
        function deleteFile(fileName, folder, attachmentId) {
            if (fileName === '') {
                return;
            }
            bootbox.confirm({
                message: "Bạn có chắc chắn muốn xóa tệp tin: " + fileName + "?",
                buttons: {
                    confirm: {
                        label: 'Xác nhận',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-secondary'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: '/admin/topics/RemoveFile',
                            type: 'POST',
                            dataType: 'html',
                            data: {
                                fileName: fileName,
                                folder: folder,
                                attachmentId: attachmentId
                            }
                        }).done(function (response) {
                            if (response) {
                                $('#attachment-' + attachmentId).remove();
                                toastr["success"]("Xóa file thành công!");
                            }
                            else {
                                toastr["error"]("Xóa file thất bại!");
                            }
                        });
                    }
                }
            });
        }
        //================ Rename File==================
        function cancelRename(e) {
            $(e.target).dropdown('hide');
        }
        function confirmRename(attachmentId) {
            let fileName = $('#new-filename-' + attachmentId).val();
            if (fileName === '') {
                toastr["warning"]("Vui lòng nhập tên tệp tin!");
            }
            else {
                $.ajax({
                    url: '/admin/topics/RenameFile',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        fileName: fileName,
                        attachmentId: attachmentId
                    }
                }).done(function (response) {
                    if (response !== 'false') {
                        $('#file-name-' + attachmentId).text(fileName);
                        toastr["success"]("Đổi tên tệp tin thành công!");
                    }
                    else {
                        toastr["error"]("Đổi tên tệp tin thất bại!");
                    }
                });
            }
        }
    </script>
}