@model ApplicationCore.Entities.Topic

@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title"><b>@ViewData["Title"]</b></h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <div class="row">
            <div class="col-md-8">

                <div class="py-3 border-bottom">
                    @Html.Raw(Model.Content)
                    <div class="py-3">
                        <i class="fa fa-tags"></i> Từ khóa: 
                        @foreach (var item in Model.Tags.Split(",", StringSplitOptions.RemoveEmptyEntries))
                        {
                            <span class="badge badge-dark">@item</span>
                        }
                    </div>
                </div>

                <div class="clearfix py-3 border-bottom">
                    <div class="text-muted float-right">
                        <i class="fa fa-calendar"></i> Ngày cập nhập: @Model.ModifiedDate
                    </div>
                    <div class="text-muted">
                        <i class="fa fa-calendar"></i> Ngày tạo: @Model.CreatedDate
                    </div>
                </div>

                <h4 class="mt-4"><i class="fa fa-user"></i> Tác giả</h4>

                @foreach (var item in ViewBag.Authors)
                {
                    <div class="clearfix p-2 border-bottom">
                        <div class="user-block">
                            <img class="img-circle img-bordered-sm" src="~/img/profile/@item.Author.Avatar" alt="User Image">
                            <span class="username">
                                <a href="/admin/authors/details/@item.AuthorId">@item.Author.Name</a>
                            </span>
                            <span class="description">@item.Author.DateOfBirth?.ToString("dd/MM/yyy")</span>
                        </div>
                    </div>
                }

            </div>
            <div class="col-md-4">
                <label>Mô tả</label>
                <div class="form-group">
                    @Model.Description
                </div>
                <label>Ngày ban hành</label>
                <div class="form-group">
                    @Model.PublishDate?.ToString("dd/MM/yyyy")
                </div>
                <label>Ngày hiệu lực</label>
                <div class="form-group">
                    @Model.EffectiveDate?.ToString("dd/MM/yyyy")
                </div>
                <label>Người ký</label>
                <div class="form-group">
                    @Model.Signer
                </div>
                <label>Số hiệu / ISNS</label>
                <div class="form-group">
                    @Model.Number / @Model.ISSN
                </div>
                <label>Lĩnh vực</label>
                <div class="form-group">
                    @Model.Category.Name
                </div>
                <label>Loại văn bản</label>
                <div class="form-group">
                    @{var description = ApplicationCore.Helper.EnumHelper<ApplicationCore.Entities.TopicType>.GetDisplayValue(Model.TopicType.Value);
                        @Html.DisplayFor(e => description)
                    }
                </div>
                <label><i class="fa fa-file-archive"></i> Tệp tin đính kèm</label>
                @if (!string.IsNullOrEmpty(Model.Attachments))
                {
                    <ul>
                        @foreach (var item in Model?.Attachments.Split(",", StringSplitOptions.RemoveEmptyEntries))
                        {
                            <li><a href="~/files/@item">@item</a></li>
                        }
                    </ul>
                }
                else
                {
                    <div class="text-muted">Không có tệp tin</div>
                }
            </div>
        </div>

        <div class="clearfix">
            <div class="float-lg-right">
                <a asp-action="Edit" asp-route-id="@Model.TopicId" asp-route-url="@Url.RouteUrl(Url.ActionContext.RouteData.Values)" class="btn btn-primary"><i class="fa fa-pen"></i> Chỉnh sửa</a>

                @if (string.IsNullOrEmpty(ViewBag.ReturnUrl))
                {
                    <a asp-action="Index" class="btn btn-secondary"><i class="fa fa-redo"></i> Quay lại</a>
                }
                else
                {
                    <a href="@ViewBag.ReturnUrl" class="btn btn-secondary"><i class="fa fa-redo"></i> Quay lại</a>
                }
            </div>
        </div>
    </div>
</div>