@model ApplicationCore.Helper.PaginatedList<ApplicationCore.Entities.Topic>

@{
    ViewData["Title"] = "Tài liệu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/lib/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet" />
<link href="~/lib/daterangepicker/daterangepicker.css" rel="stylesheet" />
<link href="~/lib/daterangepicker/bootstrap-daterangepicker.css" rel="stylesheet" />
<div class="card">
    <div class="card-header">
        <div class="font-weight-bold float-right">
            Tổng số: @Model.TotalRecord
        </div>
        <h3 class="card-title"><i class="fab fa-react"></i> @ViewData["Title"]</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="clearfix mb-3">
            <form class="form-inline float-right" action="/admin/topics/index" method="get">
                <input class="form-control mr-2" name="searchTerm" placeholder="Nhập tên tài liệu..." value="@ViewBag.SearchTerm" />
                <button class="btn btn-primary mr-2" type="submit"><i class="fa fa-search"></i> Tìm kiếm</button>
                <a href="/admin/topics" class="btn btn-secondary"><i class="fa fa-redo"></i> Hủy</a>
            </form>
            <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i> Tạo mới</a>
            <button class="btn btn-success" id="export"><i class="fa fa-file-excel"></i> Xuất Excel <i class="fas fa-spinner fa-spin d-none"></i></button>
        </div>
        <table class="table table-bordered table-striped table-hover mb-3">
            <thead class="bg-danger">
                <tr>
                    <th>
                        Tên tài liệu
                    </th>
                    <th class="text-truncate">
                        Người ký/Nhà khoa học
                    </th>
                    <th>
                        Tác vụ
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="font-weight-bold">
                                <a asp-action="Details" asp-route-id="@item.TopicId" data-toggle="tooltip" data-placement="top" title="@item.Description"><i class="fa fa-file"></i> @item.Name</a>
                            </div>
                            <i class="text-muted text-sm"><i class="fa fa-calendar"></i> Ngày cập nhật: @item.ModifiedDate - bởi: @item.UserId</i>
                        </td>
                        <td>
                            @foreach (var author in item.AuthorTopics)
                            {
                                <a href="/admin/authors/details/@author.AuthorId" data-toggle="tooltip" data-placement="top" title="@author.Author.Name">
                                    <img src="~/img/profile/@author.Author.Avatar" class="img-circle img-bordered-sm" width="40" height="40" style="object-fit: cover"/>
                                </a>
                            }
                        </td>
                        <td class="text-truncate">
                            <a asp-action="Edit" asp-route-id="@item.TopicId" class="btn btn-primary btn-sm"><i class="fa fa-pen"></i> Sửa</a>
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal" data-whatever="@item.TopicId">
                                <i class="fa fa-trash"></i> Xóa
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }


        <a asp-action="Index" asp-route-pageIndex="@(Model.PageIndex - 1)"
           asp-route-searchTerm="@ViewBag.SearchTerm" class="btn btn-secondary btn-sm @prevDisabled shadow">
            <i class="fa fa-angle-double-left"></i> Trang trước
        </a>
        <a asp-action="Index" asp-route-pageIndex="@(Model.PageIndex + 1)"
           asp-route-searchTerm="@ViewBag.SearchTerm" class="btn btn-secondary btn-sm float-right @nextDisabled shadow">
            Trang sau <i class="fa fa-angle-double-right"></i>
        </a>

    </div>
    <!-- /.card-body -->

</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Delete" method="post">
                <div class="modal-body">
                    <input type="hidden" name="Id" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>

@*<partial name="_Topics" />*@

@section scripts {
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/daterangepicker/moment.min.js"></script>
    <script src="~/lib/daterangepicker/daterangepicker.js"></script>
    <script>
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            var modal = $(this)
            modal.find('.modal-body input').val(recipient)
        })
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        //Initialize Select2 Elements
        $('#AuthorIds').select2({
            theme: 'bootstrap4'
        });

        //Date range as a button
        $('#export').daterangepicker(
            {
                ranges: {
                    'Hôm nay': [moment(), moment()],
                    'Hôm qua': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    '7 ngày gần đây': [moment().subtract(6, 'days'), moment()],
                    '30 ngày gần đây': [moment().subtract(29, 'days'), moment()],
                    'Tháng này': [moment().startOf('month'), moment().endOf('month')],
                    'Tháng trước': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                locale: {
                    daysOfWeek: [
                        "T2",
                        "T3",
                        "T4",
                        "T5",
                        "T6",
                        "T7",
                        "CN"
                    ],
                    monthNames: [
                        "Tháng 1",
                        "Tháng 2",
                        "Tháng 3",
                        "Tháng 4",
                        "Tháng 5",
                        "Tháng 6",
                        "Tháng 7",
                        "Tháng 8",
                        "Tháng 9",
                        "Tháng 10",
                        "Tháng 11",
                        "Tháng 12"
                    ]
                },
                maxDate: moment()
            },
            function (start, end) {
                $('.fa-spinner').removeClass('d-none');
                $.ajax({
                    url: '/admin/tools/exporttopic',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        startDate: start.format('MM-DD-YYYY'),
                        endDate: end.format('MM-DD-YYYY')
                    }
                }).done(function (res) {
                    response = JSON.parse(res);
                    if (response.isSuccess) {
                        window.location.href = response.downloadUrl;
                    }
                    else {
                        toastr["error"](response.message);
                    }
                    $('.fa-spinner').addClass('d-none');
                });
            }
        );
        @Html.Raw(TempData["Info"])
    </script>
}
