@model ApplicationCore.Helper.PaginatedList<ApplicationCore.Entities.Topic>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/lib/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet" />
<div class="card">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered mb-3">
            <thead>
                <tr>
                    <th>
                        Tên tài liệu
                    </th>
                    <th>
                        Nhà khoa học
                    </th>
                    <th>
                        Danh mục
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="font-weight-bold"><a href="/admin/topics/details/@item.TopicId?returnUrl=/admin/deparments/details/@ViewBag.Id"><i class="fa fa-file"></i> @item.Name</a></div>
                            <i class="text-muted text-sm"><i class="fa fa-calendar"></i>  @item.CreatedDate</i>
                        </td>
                        <td>
                            @foreach (var author in item.AuthorTopics)
                            {
                                <a href="/admin/authors/details/@author.AuthorId" data-toggle="tooltip" data-placement="top" title="@author.Author.Name">
                                    <img src="~/img/profile/@author.Author.Avatar" class="img-circle img-bordered-sm" width="40" height="40" />
                                </a>
                            }
                        </td>
                        <td>
                            <b>@item.Category?.Name</b>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }


        <a asp-action="details" asp-route-pageIndex="@(Model.PageIndex - 1)"
           asp-route-id="@ViewBag.Id"
           class="btn btn-secondary btn-sm @prevDisabled shadow">
            <i class="fa fa-angle-double-left"></i> Trang trước
        </a>
        <a asp-action="details" asp-route-pageIndex="@(Model.PageIndex + 1)"
           asp-route-id="@ViewBag.Id"
           class="btn btn-secondary btn-sm float-right @nextDisabled shadow">
            Trang sau <i class="fa fa-angle-double-right"></i>
        </a>

    </div>

</div>