@model ApplicationCore.Helper.PaginatedList<ApplicationCore.Entities.Topic>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3> <div class="card-tools">
            Tổng số: <b>@Model.TotalRecord</b>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        
        <table class="table table-bordered mb-3">
            <thead class="bg-danger">
                <tr>
                    <th>
                        Tên tài liệu
                    </th>
                    <th class="text-truncate">
                        Nhà khoa học
                    </th>
                    <th class="text-truncate">
                        Loại văn bản
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="font-weight-bold">
                                <i class="fa fa-file"></i>
                                <a href="/admin/topics/details/@item.TopicId?returnUrl=/admin/categories/details/@ViewBag.Id">@item.Name</a>
                            </div>
                            <div class="text-muted">
                                @item.Description
                            </div>
                        </td>
                        <td>
                            @foreach (var author in item.AuthorTopics)
                            {
                                <a href="/admin/authors/details/@author.AuthorId" data-toggle="tooltip" data-placement="top" title="@author.Author?.Name">
                                    <img src="~/img/profile/@author.Author?.Avatar" class="img-circle img-bordered-sm" width="40" height="40" />
                                </a>
                            }
                        </td>
                        <td>
                            @item.TopicType?.Name
                            @*@{
                                var description = ApplicationCore.Helper.EnumHelper<ApplicationCore.Entities.TopicType>.GetDisplayValue(item.TopicType.Value);
                                <a href="/admin/searches/topictypes?topictype=@item.TopicType.Value">@Html.DisplayFor(e => description)</a>
                            }*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }


        <a asp-action="details"
           asp-route-pageIndex="@(Model.PageIndex - 1)"
           asp-route-id="@ViewBag.Id"
           class="btn btn-secondary btn-sm @prevDisabled shadow">
            <i class="fa fa-angle-double-left"></i> Trang trước
        </a>
        <a asp-action="details"
           asp-route-pageIndex="@(Model.PageIndex + 1)"
           asp-route-id="@ViewBag.Id"
           class="btn btn-secondary btn-sm float-right @nextDisabled shadow">
            Trang sau <i class="fa fa-angle-double-right"></i>
        </a>

    </div>

</div>
@section scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}