@model ApplicationCore.Helper.PaginatedList<ApplicationCore.Entities.Category>

@{
    ViewData["Title"] = "Danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/lib/toastr/toastr.css" rel="stylesheet" />
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Danh mục</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="clearfix mb-3">
            <form class="form-inline float-right" action="/admin/categories/index" method="get">
                <input class="form-control mr-2" name="searchTerm" placeholder="Tên danh mục..." value="@ViewBag.SearchTerm" />
                <button class="btn btn-primary mr-2" type="submit"><i class="fa fa-search"></i> Tìm kiếm</button>
                <a href="/admin/categories" class="btn btn-secondary"><i class="fa fa-redo"></i> Hủy</a>
            </form>
            <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i> Tạo mới</a>
        </div>
        <table class="table table-bordered mb-3">
            <thead>
                <tr>
                    <th>
                        Danh mục
                    </th>
                    <th>Số tài liệu</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <b><a href="/admin/categories/details/@item.CategoryId?returnUrl=/admin/categories&searchTerm=@ViewBag.SearchTerm" data-toggle="tooltip" data-placement="top" title="@item.Description">@item.Name</a></b>
                        </td>
                        <td>
                            <b>@item.Topics.Count</b>
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-primary btn-sm"><i class="fa fa-pen"></i> Chỉnh sửa</a>
                            @*<a asp-action="Details" asp-route-id="@item.CategoryId" class="btn btn-info btn-sm"><i class="fa fa-folder"></i> Chi tiết</a>*@
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal" data-whatever="@item.CategoryId"><i class="fa fa-trash"></i> Xóa</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }


        <a asp-action="Index" asp-route-pageIndex="@(Model.PageIndex - 1)" asp-route-searchTerm="@ViewBag.SearchTerm" class="btn btn-secondary btn-sm @prevDisabled shadow">
            <i class="fa fa-angle-double-left"></i> Trang trước
        </a>
        <a asp-action="Index" asp-route-pageIndex="@(Model.PageIndex + 1)" asp-route-searchTerm="@ViewBag.SearchTerm" class="btn btn-secondary btn-sm float-right @nextDisabled shadow">
            Trang sau <i class="fa fa-angle-double-right"></i>
        </a>
    </div>
</div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Delete" method="post">
                <div class="modal-body">
                    <input type="hidden" name="Id" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/lib/chart.js/Chart.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script>
         $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            var modal = $(this)
            modal.find('.modal-body input').val(recipient)
        })
        // chart
        //var datac;
        //$.ajax({
        //    url: '/admin/categories/chart',
        //    type: 'GET',
        //    dataType: 'html',
        //    data: {}
        //}).done(function (response) {
        //    if (response !== '') {
        //        datac = JSON.parse(response);
        //    }
        //});
        //setTimeout(function () {
        //    var pieChartCanvas = $('#pieChart').get(0).getContext('2d');
        //        var pieData = datac;
        //        var pieOptions = {
        //        maintainAspectRatio: false,
        //        responsive: true,
        //        };

        //        var pieChart = new Chart(pieChartCanvas, {
        //        type: 'pie',
        //        data: pieData,
        //        options: pieOptions
        //        });
        //}, 3000);


        @Html.Raw(TempData["Info"])
    </script>
}